@{
  Layout = "_Layout";
}

<h1>Welcome to the Best Restaurants Catalog!</h1>
<p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p><br>
<p>@Html.ActionLink("See types of cuisines", "Index", "Cuisines")</p>